.BarraDeNavegacion {
  background-color: #ced8cd;
  display: block;
  height: 50px;
  margin-top: -16px;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nombreDeMarca {
  font-family: "Katibeh", cursive;
  color: #174642;
  font-size: 32px;
  text-decoration-line: none;
  margin-left: 30px;
}
.nombreDeMarca:hover {
  color: #f4cfc7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: right;
  margin-right: 30px;
}
.estiloDeBarra {
  text-decoration-line: none;
  color: #f4cfc7;
  display: block;
  padding: 8px;
  margin-top: 7px;
}
.estiloDeBarra:hover {
  color: #174642 !important;
}
.carritoDeComprasBarraNavegacion {
  position: relative;
}
.cantidadDeProductosBarraNavegacion {
  background-color: #f4cfc7;
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 28px;
}
.css-7e0s21-MuiPaper-root-MuiAppBar-root {
  background-color: white !important;
  box-shadow: none !important;
}
