.base {
  font-family: Montserrat, cursive;
  color: white;
  background-color: #ebcfac;
  text-align: center;

  line-height: 0px;
  font-size: 18px;
  font-weight: 600;
  display: table;
  margin: 30px auto;
  padding: 5px 30px 6px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
}
