.mensajeDespedida {
  width: 555px;
  background-color: white;
  margin: 100px auto;
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
}
.botonVolver {
  display: flex;
  margin: 0 auto;
  text-align: center;
}
