.contenedorOrdenFinal {
  background-color: white;
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 20px;
}
.textAlignCenter {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.contenedorDatosContacto {
  padding: 10px 15px;
  line-height: 30px;
}
.contenedorProductosOrdenFinal {
  text-align: center;
}
.contenedorTotalDeLaCompra {
  padding: 10px 30px;
  margin: 20px 0px 20px 0px;
  font-size: 25px;
}
.contenedorPaginaOrden {
  width: 100%;
  margin: 0 auto;
}

.titulosSeccion {
  border: 3px solid #f4cfc7;
  padding: 8px 30px;
  border-radius: 20px;
}
