.contenedorInformacionProductoSeleccionado {
  width: 70%;
  margin: 20px auto;
}

.imagenProductoSeleccionado img {
  width: 100%;
}

.textoProductoSeleccionado {
  background-color: white;
  width: 100%;

  border-radius: 20px;
}

.linkVolverProductos {
  font-size: 12px;
  text-decoration: none;
}

.linkVolverProductos:visited {
  color: black;
  color: #efc000;
}

.nombreProductoSeleccionado {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0px;

  padding-left: 20px;
}
.precioProductoSeleccionado {
  font-weight: 400;
  font-size: 25px;
  margin: 10px auto;
  padding-left: 20px;
}

.descripcionProductoSeleccionado,
.textoEnviosMediosDePago {
  font-size: 13px;
  line-height: 18px;
}
.mensajeSobreStock {
  color: #efc000;
  font-size: 14px;
  font-weight: 500;
}

.textoEnviosMediosDePago span {
  font-weight: 500;
}
.contador {
  display: inline;
  padding: 6px 1px;

  border-radius: 20px;
  font-size: 15px;
}
.botonContadorStock,
.botonBasico {
  background-color: #ced8cd;
  border-radius: 20px;
  border: 0px;
  font-family: Montserrat;
}
.botonContadorStock,
.botonBasico:hover {
  cursor: pointer;
}
.botonContadorStock {
  font-size: 15px;
}
.botonBasico {
  padding: 8px 30px;
}
.numeroContadorStock {
  margin: 0px 10px;
}

.contenedorVolverProductos {
  padding: 20px 0px 0px 20px;
}
.contenedorBotonesCarritoyTexto {
  padding-left: 20px;
}

.contenedorEnviosMediosdepago {
  padding: 0px 20px 20px 20px;
}
.descripcionProductoSeleccionado {
  padding-left: 20px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 2px solid #efc000 !important;
}

.carousel .carousel-status {
  text-shadow: none !important;
}

.carousel .thumbs-wrapper {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}
.thumb.selected {
  width: auto;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background-color: #ced8cd !important;
}
