@media only screen and (max-width : 900px) {
  .contenedorColumnasDestacados{
    justify-content: center;
  }
  .imgDeLogo{
    margin-top: 20px;
  
  }
  .base {
   
    font-size: 14px;
    font-weight: 400;
   
    margin:15px auto;
    padding: 5px 10px 6px 10px;
    border-radius: 30px;
 
  }
  .Encabezado {
    margin: 30px auto 0px;
  }

  .imagenProductoSeleccionado img, .textoProductoSeleccionado {
margin: 5px 0px 10px 0px !important;

  }

  .textoProductoSeleccionado {
    padding: 5px;
  }

  .botonBasico {
    margin-top: 10px;
  }
}