@media only screen and (max-width: 900px) {
  .contenedorColumnasDestacados {
    justify-content: center;
  }
  .imgDeLogo {
    margin-top: 20px;
  }
  .base {
    font-size: 14px;
    font-weight: 400;

    padding: 5px 15px 6px 15px;
    border-radius: 30px;
  }
  /* 
  .imagenProductoSeleccionado img {
    margin: 15px 0px 10px 0px !important;
  } */

  .textoProductoSeleccionado {
    margin: 0px 0px 10px 0px !important;
  }

  .textoProductoSeleccionado {
    padding: 5px;
  }

  .botonBasico {
    margin-top: 10px;
  }
  .responsive_NombreProductoOrdendecompra {
    display: flex;
    justify-content: center;
    padding: 3px;
  }

  .stockBajo {
    font-size: 20px !important;
    bottom: 88% !important;
    left: 3% !important;
  }
  .responsive_botonCentrado {
    text-align: center !important;
  }
  .contenedorOrdenFinal {
    border-radius: 0px !important;
  }
  .mensajeDespedida {
    width: 250px !important;
  }
  .contacto_hover {
    letter-spacing: 0px;
  }
  .NombreDelProducto {
    padding: 5px;
    text-align: center;
  }
  .botonEliminarDeResumen_responsive {
    padding: 10px 12px !important;
  }
  .contenedorTotalDeLaCompra {
    padding: 10px 30px !important;
    margin: 10px 0px 10px 0px !important;
    font-size: 20px !important;
  }
  .carousel .thumbs-wrapper {
    margin: 5px !important;
  }
}
