.Encabezado {
  background-color: #f5f0ea;
  font-family: "Katibeh", cursive;
  color: #174642;
  max-width: 90%;
  margin: 50px auto;
}
.textoEncabezado {
  font-size: 30px;
}
.imgDeLogo {
  width: 100%;
  margin-top: 40px;
}

.imgDeRelleno {
  width: 100%;
  border-radius: 20px;
}
.comoComprar_responsive {
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 30px;
}
